@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}
:root {
  --clr-bcg: #fff;
  --clr-font: #282c35;
  --clr-primary: #d23669;
}


.dark-theme {
  --clr-bcg: #282c35;
  --clr-font: #fff;
  --clr-primary: #ffa7c4;
}
.light-theme {
  --clr-bcg: #fff;
  --clr-font: #282c35;
  --clr-primary: #d23669;
}

body {
  background: var(--clr-bcg);
  color: var(--clr-font);
  line-height: 1.5;
  font-size: 0.875rem;
  min-height: 100vh;
  width: 100%;
  transition: all 0.3s linear;
  font-family: 'Nunito Sans', sans-serif;
}





.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn {
  background: var(--clr-primary);
  color: var(--clr-bcg);
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  border-color: transparent;
  text-transform: capitalize;
  transition: all 0.3s linear;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}


.search-wrappers {
  /* border: 2px solid fuchsia; */
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
}

.search-wrappers input, select {
  height: 30px;
  width: 300px;
  border: 2px solid rgb(241, 238, 238);
  border-radius: 5px;
}

